/* General */
body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  background-color: #f2f4f8;
}

/* Stilos Header*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2c3e50;
  padding: 1em 2em;
  color: white;
}

.titulo {
  font-size: 1.5em;
  font-weight: bold;
}

.titulo a {
  color: white;
  text-decoration: none;
}

.titulo a:hover {
  color: #1abc9c;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 1.5em;
  margin: 0;
  padding: 0;
}

.nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s;
}

.nav a:hover {
  color: #1abc9c;
}

/* Título */
main h1 {
  text-align: center;
  margin: 2em 0 1.5em;
  color: #333;
}

.contenedor-sensores {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 2em;
  max-width: 1000px;
  margin: 0 auto;
  padding: 2em;
  height: 50vh;
}

/* Botón estilos cerrado*/
.sensor-boton {
  background-color: #c0392b;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  padding: 2em;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.sensor-boton.activado {
  background-color: #27ae60;  /* Activado: verde */
}

.puerta-boton:hover {
  transform: scale(1.05);
}

/* Footer */
.footer {
  background-color: #1e1e2f;
  color: #f1f1f1;
  padding: 2.5em 1em;
  font-family: 'Fira Code', monospace;
  margin-top: 4em;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
}

.footer-content {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.footer .ascii-logo {
  font-size: 1.2em;
  margin-bottom: 0.5em;
  color: #7fff00; /* color tipo terminal */
}

.footer .desc {
  font-size: 1em;
  margin-bottom: 1em;
  color: #bbbbbb;
}

.footer-bottom p {
  margin: 0.4em 0;
  font-size: 0.9em;
  color: #888888;
}

.prompt {
  color: #39ff14;
  font-weight: bold;
}